<%- include("layout/header1.ejs") %>

<main class="main">
    <div class="page-header">
        <div class="container d-flex flex-column align-items-center">
            <h1>My Account</h1>
        </div>
    </div>

    <div class="container account-container custom-account-container">
        <div class="row">
            <div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
                <ul class="nav nav-tabs list flex-column mb-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/user-profile" role="tab" aria-controls="edit" aria-selected="false">Account details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-orders" role="tab" aria-controls="order" aria-selected="true">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/downloads" role="tab" aria-controls="download" aria-selected="false">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change-password" role="tab" aria-controls="pass" aria-selected="true">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 order-lg-last order-1 tab-content">
                
                <div class="tab-pane fade show active" id="pass" role="tabpanel">
                    <h3 class="account-sub-title  d-md-block mt-0 pt-1 ml-1"><i
                            class="icon-user-2 align-middle mr-3 pr-1"></i>Change Password</h3>
                    <div style="height: 100%;" class="account-content ">
                        <form action="/change-password" method="post" id="passwordUpdateForm">
                            <% if(locals.user) { %>   
                                <div class="change-password">
                                    <h3 class="text-uppercase mb-2">Password Change</h3>

                                    <div class="form-group">
                                        <label for="acc-password">Current Password</label>
                                        <div class="text-danger"></div>
                                        <input type="password" class="form-control" id="currentPassword"
                                            name="currentPassword" />
                                        <p id="passwordError" style="color: red;"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="acc-password">New Password</label>
                                        <div class="text-danger" ></div>
                                        <input type="password" class="form-control" id="newPassword"
                                            name="newPassword" />
                                        <p id="newpasswordError" style="color: red;"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirm_password">Confirm New Password</label>
                                        <div class="text-danger" ></div>
                                        <input type="password" class="form-control" id="confirmPassword"
                                            name="confirmPassword" />
                                        <p id="confirmPasswordError" style="color: red;"></p>
                                    </div>
                                </div>

                                <div class="form-footer mt-3 mb-0">
                                    <button type="submit" class="btn btn-dark mr-0">
                                        Save changes
                                    </button>
                                </div>
                            <% } %>
                        </form>
                    </div>
                </div>

            </div><!-- End .tab-content -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->

<%- include("layout/footer.ejs") %>

<script>

    const password = document.getElementById('currentPassword');
    const newpassword = document.getElementById('newPassword');
    const confirmpassword = document.getElementById('confirmPassword');

    const updateForm = document.getElementById('passwordUpdateForm')

    const error1 = document.getElementById('passwordError');
    const error2 = document.getElementById('newpasswordError');
    const error3 = document.getElementById('confirmPasswordError');
    

    function currentpasswordValidate(pswd){
        const passwordpattern = /^[A-Za-z\d@$!%*?&]+$/

        if(pswd.trim() === ""){
            error1.innerHTML = "Please enter your current password!!";
            error1.style.display = "block";
        }else if(!passwordpattern.test(pswd)){
            error1.innerHTML = "Password should only contain numbers, alphabets, and special characters @$!%*?&!!";
            error1.style.display = "block";
        }else if(pswd.length < 8){
            error1.innerHTML = "Password must be atleat 8 characters long!!";
            error1.style.display = "block";
        }else{
            error1.innerHTML = "";
            error1.style.display = "none";
        }
    }

    function newpasswordValidate(pswd){
        const passwordpattern = /^[A-Za-z\d@$!%*?&]+$/

        if(pswd.trim() === ""){
            error2.innerHTML = "Please enter your new password!!";
            error2.style.display = "block";
        }else if(!passwordpattern.test(pswd)){
            error2.innerHTML = "Password should only contain numbers, alphabets, and special characters @$!%*?&!!";
            error2.style.display = "block";
        }else if(pswd.length < 8){
            error2.innerHTML = "Password must be atleat 8 characters long!!";
            error2.style.display = "block";
        }else{
            error2.innerHTML = "";
            error2.style.display = "none";
        }
    }

    function confirmPasswordValidate(pswd){
        const passwordpattern = /^[A-Za-z\d@$!%*?&]+$/

        if(pswd.trim() === ""){
            error3.innerHTML = "Please re-enter your password!!";
            error3.style.display = "block";
        }else if(!passwordpattern.test(pswd)){
            error3.innerHTML = "Password should only contain numbers, alphabets, and special characters @$!%*?&!!";
            error3.style.display = "block";
        }else if(pswd.length < 8){
            error3.innerHTML = "Password must be atleat 8 characters long!!";
            error3.style.display = "block";
        }else{
            error3.innerHTML = "";
            error3.style.display = "none";
        }
    }

    password.addEventListener('keyup', () => {
    const currentPasswordData = password.value;
    currentpasswordValidate(currentPasswordData);
    });

    password.addEventListener('blur', () => {
        const currentPasswordData = password.value;
        currentpasswordValidate(currentPasswordData);
    });

    newpassword.addEventListener('keyup', () =>{
        const npasswordData = newpassword.value;
        newpasswordValidate(npasswordData)
    })

    newpassword.addEventListener('blur', () =>{
        const npasswordData = newpassword.value;
        newpasswordValidate(npasswordData)
    })


    confirmpassword.addEventListener('keyup', () =>{
        const cpasswordData = confirmpassword.value;
        confirmPasswordValidate(cpasswordData)
    })

    confirmpassword.addEventListener('keyup', () =>{
        const cpasswordData = confirmpassword.value;
        confirmPasswordValidate(cpasswordData)
    })

    async function updatePassword(currentPasswordData,npasswordData,cpasswordData){

        try {
        const response = await fetch('/change-password', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                currentPassword: currentPasswordData,
                newPassword: npasswordData,
                confirmPassword: cpasswordData
            })
        });

        const result = await response.json();

        if (response.status === 400) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: result.error,
            });
        } else if (response.status === 200) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Password updated successfully',
            }).then(() => {
                // Optional: You can redirect or refresh the page after the alert
                window.location.href = '/user-profile';
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Something went wrong. Please try again later.',
            });
        }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Something went wrong. Please try again later.',
            });
        }
    }

    updateForm.addEventListener('submit', async (event) =>{
        event.preventDefault();
    
        const currentPasswordData = password.value;
        const npasswordData = newpassword.value;
        const cpasswordData = confirmpassword.value;

        currentpasswordValidate(currentPasswordData);
        newpasswordValidate(npasswordData);
        confirmPasswordValidate(cpasswordData);

        if(error1.innerHTML === "" || error2.innerHTML === "" || error3.innerHTML === ""){
            updatePassword(currentPasswordData,npasswordData,cpasswordData);
        }
       
    })

</script>