<%- include ("layout/header.ejs") %>


    <!-- <div class="account-content">
        <form action="#">
            <div class="change-password">
                <h3 class="text-uppercase mb-2">Password Change</h3>

                <div class="form-group">
                    <label for="acc-password">Current Password (leave blank to leave
                        unchanged)</label>
                    <input type="password" class="form-control" id="acc-password"
                        name="acc-password" />
                </div>

                <div class="form-group">
                    <label for="acc-password">New Password (leave blank to leave
                        unchanged)</label>
                    <input type="password" class="form-control" id="acc-new-password"
                        name="acc-new-password" />
                </div>

                <div class="form-group">
                    <label for="acc-password">Confirm New Password</label>
                    <input type="password" class="form-control" id="acc-confirm-password"
                        name="acc-confirm-password" />
                </div>
            </div>

            <div class="form-footer mt-3 mb-0">
                <button type="submit" class="btn btn-dark mr-0">
                    Save changes
                </button>
            </div>
        </form>
    </div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="public/assets/js/jquery.min.js"></script>
	<script src="public/assets/js/bootstrap.bundle.min.js"></script>
	<script src="public/assets/js/plugins.min.js"></script> -->

	<!-- Main JS File -->
	<!-- <script src="public/assets/js/main.min.js"></script>     -->

    <main class="main">
        

        <div class="container account-container custom-account-container">
            <div class="row d-flex justify-content-center my-5">
                <div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-8 order-0">
                    <h2 class="text-uppercase">CHANGE PASSWORD</h2>
                    
                    

                    <div class="tab-pane">
                        <p style="color: rgb(67, 212, 67);" id="success_mess"></p>
                        <div class="account-content">
                            <form action="#" id="forgotForm">
                                <div class="form-group">
                                    <label for="acc-password">New Password</label>
                                    <input type="password" class="form-control" id="acc-new-password"
                                        name="acc-new-password" />
                                        <p class="error mb-2" id="error1" style="display: none; color: red;"></p>
                                        <% if(locals.error){ %>
                                        <p class="error mb-2"><% locals.error %></p>
                                        <% } %>    
                                </div>

                                <div class="form-group">
                                    <label for="acc-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="acc-confirm-password"
                                        name="acc-confirm-password" />
                                        <p class="error mb-2" id="error2" style="display: none; color: red;"></p>
                                        <% if(locals.error){ %>
                                        <p class="error mb-2"><% locals.error %></p>
                                        <% } %>
                                </div>

                                <button type="submit" class="btn btn-primary">SUBMIT</button>

                            </form>
                        </div>
                    </div><!-- End .tab-pane -->
                </div>
            </div>
        </div>
    </main>
    
    <script src="/public/js/resetPassword.js"></script>
    

<%- include ("layout/footer.ejs") %>