<%- include ("layout/header.ejs") %>

			<div class="container login-container">
				<div class="row">
					<div class="col-lg-10 mx-auto ">
						<div class="row  d-flex align-items-center justify-content-center">
							<div class="col-md-6">
								<div class="heading mb-1">
									<h2 class="title">Register</h2>
								</div>

								<form action="/user-register" method="post" id="registerForm">
									<label for="fname">
										First Name
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="fnameError"></div>
									<input type="text" class="form-input form-wide" id="fname" name="fname">

									<p id="fnameError" style="color: red;"></p>

									<label for="lname">
										Last Name
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="lnameError"></div>
									<input type="text" class="form-input form-wide" id="lname" name="lname">

									<p id="lnameError" style="color: red;"></p>

							
									<label for="email">
										Email
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="emailError"></div>
									<input type="email" class="form-input form-wide" id="email" name="email">

									<p id="emailError" style="color: red;"></p>

							
									<label for="mobile_number">
										Mobile Number
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="mobileNumberError"></div>
									<input type="tel" class="form-input form-wide" id="mobile_number" name="mobile_number">

									<p id="mobileNumberError" style="color: red;"></p>

							
									<label for="password">
										Password
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="passwordError"></div>
									<input type="password" class="form-input form-wide" id="password" name="password">

									<p id="passwordError" style="color: red;"></p>


									<label for="confirm_password">
										Confirm Password
										<span class="required">*</span>
									</label>
									<div class="text-danger" id="confirmPasswordError"></div>
									<input type="password" class="form-input form-wide" id="confirm_password" name="confirm_password">

									<p id="confirmPasswordError" style="color: red;"></p>
									<br>
							
									<button type="submit" style="font-size: 16px;" class="btn btn-dark btn-md w-100">REGISTER</button>
								</form>
								<div class="mb-2 mx-auto">
									<p class="text-center mb-1 mx-1">OR</p>
									<a href="/google?from=SIGNUP" class="btn w-100 btn-dark font-sm">
										<svg aria-hidden="true" class="icon-svg" width="20" height="20" viewBox="0 0 20 20">
											<path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path>
											<path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"></path>
											<path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path>
											<path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"></path>
										</svg> Sign up using Google
									</a>
									<br><br>
									<p class="text-center mb-4">Already have an Account? <a href="/user-login">Login</a></p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</main><!-- End .main -->
	</div><!-- End .page-wrapper -->



	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<script>
		document.addEventListener('DOMContentLoaded', function(){
			const form = document.getElementById('registerForm')

			form.addEventListener('submit', function(event){
				
				const userName = document.getElementById('username').value.trim();

				if(userName === '' || userName === null){
					document.getElementById('userNameError').textContent = 'Field is required'
					event.preventDefault();	
				}

			})
		})
	</script>

	<!-- Plugins JS File -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="public/assets/js/jquery.min.js"></script>
	<script src="public/assets/js/bootstrap.bundle.min.js"></script>
	<script src="public/assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="public/assets/js/main.min.js"></script>
	<script src="/public/js/registerValidation.js"></script>
</body>

</html>

<%- include ("layout/footer.ejs") %>